@import "tailwindcss";

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aileron';
  src: url('/fonts/Aileron-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-navy: #1d2a4d;
  --color-light: #eff5f9;
  --color-cyan: #13c5dd;
  --color-pink: #f8c0de;

}

:root {
  --primary-color: #1d2a4d;
  --secondary-color: #eff5f9;
  --text-color: #1d2a4d;
  --accent-color: #13c5dd;
  --background-color: #eff5f9;
  --light-text-color: #1d2a4dd8;
  --text-hover-color: #1d2a4df0;
}

.blob-1 {
  border-radius: 46% 54% 46% 54% / 57% 40% 60% 43%;
}
